{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="mb-0">{{ activity.name }}</h1>
      <div>
        <a href="{% url 'activity_update' activity.pk %}" class="btn btn-sm btn-outline-primary me-1">Edit</a>
        <a href="{% url 'activity_delete' activity.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </div>
    <p>This is an activity of <a href="{{ activity.component.get_absolute_url }}">{{ activity.component.name }}</a></p>
    <p>{{ activity.description }}</p>
    <p>Execution start date: {{ activity.execution_start_date }}</p>
    <p>Execution end date: {{ activity.execution_end_date }}</p>
    <p>Status: {{ activity.get_status_display }}</p>
    <p>Component version: {{ activity.component_version }}</p>
    <p>Jira tickets:
        {% for jira_ticket in activity.jira_tickets.all %}
            <a href="{{ jira_ticket.url }}">{{ jira_ticket.name }}</a><br>
        {% endfor %}
    </p>
    <p>Results:
        {% for result in activity.results.all %}
            <a href="{{ result.url }}">{{ result.name }}</a><br>
        {% endfor %}
    </p>
    <p>Documents:
        {% for document in activity.documents.all %}
            <a href="{{ document.url }}">{{ document.name }}</a><br>
        {% endfor %}
    </p>
    <p>Campaigns:
        {% for campaign in activity.campaigns.all %}
            <a href="{% url 'campaign_detail' campaign.pk %}">{{ campaign.name }}</a><br>
        {% endfor %}
    </p>
{% endblock %}