{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="mb-0">{{ activity.name }}</h1>
      <div>
        <a href="{% url 'activity_update' activity.pk %}" class="btn btn-sm btn-outline-primary me-1">Edit</a>
        <a href="{% url 'activity_delete' activity.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </div>
    <h2>Components</h2>
    {% if components %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for component in components %}
                    <tr>
                        <td><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h2>Requirements</h2>
    {% if activity.requirements.all %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Definition</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Standard</th>
                </tr>
            </thead>
            <tbody>
                {% for requirement in activity.requirements.all %}
                    <tr>
                        <td><a href="{{ requirement.get_absolute_url }}">{{ requirement.definition }}</a></td>
                        <td>{{ requirement.name }}</td>
                        <td>{{ requirement.code }}</td>
                        <td>{{ requirement.standard.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no requirements associated with this activity.</p>
    {% endif %}    
{% endblock %}