{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="mb-0">{{ campaign.name }}</h1>
      <div>
        <a href="{% url 'campaign_update' campaign.pk %}" class="btn btn-sm btn-outline-primary me-1">Edit</a>
        <a href="{% url 'campaign_delete' campaign.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </div>
    <p>{{ campaign.description }}</p>

    <div class="col-md-6">    
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Status</th>
                    <td>{{ campaign.get_status_display }}</td>
                </tr>
                <tr>
                    <th>Due date</th>
                    <td>{{ campaign.due_date }}</td>
                </tr>
                <tr>
                    <th>Jira ticket</th>
                    <td><a href="{{ campaign.jira_ticket_url }}">{{ campaign.jira_ticket_url }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered" style="max-width: 400px;">
        <tbody>
            <tr>
            <th>Total</th>
            <td>{{ pending_total }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{{ done_total }}</td>
            </tr>        
            <tr>
            <th>Pending</th>
            <td>{{ pending_total }}</td>
            </tr>
            <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;To Do</th>
            <td>{{ todo_total }}</td>
            </tr>
            <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;In Progress</th>
            <td>{{ in_progress_total }}</td>
            </tr>

        </tbody>
        </table>
    </div>
    
    <h2>Activities</h2>
    {% if campaign.component_activities.all %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Software</th>
                    <th>Activity Name</th>
                    <th>Status</th>
                    <th>Estimated Completion Date</th>
                    <th>Execution End Date</th>
                    <th>Jira ticket</th>
                    <th>PSRD Contact</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {% for component_activity in campaign.component_activities.all %}
                    <tr>
                        <td><a href="{{ component_activity.component.get_absolute_url }}">{{ component_activity.component.name }}</a></td>
                        <td><a href="{{ component_activity.component.software.get_absolute_url }}">{{ component_activity.component.software.name }}</a></td>
                        <td><a href="{% url 'componentactivity_detail' component_activity.pk %}">{{ component_activity.activity.name }}</a></td>
                        <td class="{% if component_activity.status == 1 %}bg-status-todo{% elif component_activity.status == 2 %}bg-status-inprogress{% elif component_activity.status == 3 %}bg-status-done{% endif %}">
                            {{ component_activity.get_status_display }}
                        </td>
                        <td>{{ component_activity.estimated_completion_date }}</td>
                        <td>{{ component_activity.execution_end_date }}</td>
                        <td>
                            {% for jira_ticket in component_activity.jira_tickets.all %}
                                <a href="{{ jira_ticket.url }}">{{ jira_ticket.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td>{{ component_activity.component.psrd_contact }}</td>
                        <td>
                            {% for result in component_activity.results.all %}
                                <a href="{{ result.url }}">{{ result.name }}</a><br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no component activities.</p>
    {% endif %}

    <h2>Features</h2>
    {% if campaign.component_features.all %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Software</th>
                    <th>Feature Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Estimated Completion Date</th>
                    <th>Execution End Date</th>
                    <th>Jira ticket</th>
                    <th>PSRD Contact</th>
                    <th>Results</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for component_feature in campaign.component_features.all %}
                    <tr>
                        <td><a href="{{ component_feature.component.get_absolute_url }}">{{ component_feature.component.name }}</a></td>
                        <td><a href="{{ component_feature.component.software.get_absolute_url }}">{{ component_feature.component.software.name }}</a></td>
                        <td><a href="{{ component_feature.feature.get_absolute_url }}"></a>{{ component_feature.feature.name }}</a></td>
                        <td>{{ component_feature.description }}</td>
                        <td>{{ component_feature.get_status_display }}</td>
                        <td>{{ component_feature.estimated_completion_date }}</td>
                        <td>{{ component_feature.execution_end_date }}</td>
                        <td>
                            {% for jira_ticket in component_feature.jira_tickets.all %}
                                <a href="{{ jira_ticket.url }}">{{ jira_ticket.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td>{{ component_feature.component.psrd_contact }}</td>
                        <td>
                            {% for result in component_feature.results.all %}
                                <a href="{{ result.url }}">{{ result.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td><a href="{% url 'componentfeature_update' component_feature.pk %}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no component features.</p>
    {% endif %}
{% endblock %}
</div>
