{% extends "base.html" %}

{% block content %}
	<h1>Components</h1>
	<a href="{% url 'component_add' %}" class="btn btn-primary mb-3">New</a>
	{% if component_list %}
        <table class="table table-striped table-bordered align-middle">
            <tr>
                <th>Name</th>
                <th>Software</th>
            </tr>
            {% for component in component_list %}
                <tr>
                    <td><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></td>
                    <td><a href="{{ component.software.get_absolute_url }}">{{ component.software.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no components.</p>
    {% endif %}
{% endblock %}
