{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <h2>{{ view.object|default_if_none:"Create Component" }}</h2>
        {{ form|crispy }}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>

<script src="{% static 'js/formset.js' %}"></script>
{% endblock %}
