{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="row col-md-6">
    <h1>Add feature to be implemented in component</h1>
        <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <h3>Documents</h3>
        {{ document_formset.management_form }}
        <div id="document_formset">
            {% for form in document_formset %}
                <div class="dynamic-form">{{ form }}</div>
            {% endfor %}
        </div>
        <button type="button" id="add-document">Add another Document</button>
        <input type="submit" value="Submit" class="btn btn-primary" />        
    </form>
</div>

<script src="{% static 'js/formset.js' %}"></script>
{% endblock %}
