{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="mb-0">{{ componentactivity.component.name }} - {{ componentactivity.activity.name }}</h1>
        <div>
        <a href="{% url 'componentactivity_update' componentactivity.pk %}" class="btn btn-sm btn-outline-primary me-1">Edit</a>
        <a href="{% url 'componentactivity_delete' componentactivity.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </div>
    </div>
    <p>{{ componentactivity.activity.description }}</p>
    <p>Component: <a href="{{ componentactivity.component.get_absolute_url }}">{{ componentactivity.component.name }}</a></p>
    <p>Activity: <a href="{% url 'activity_detail' componentactivity.activity.pk %}">{{ componentactivity.activity.name }}</a></p>
    <p>Execution start date: {{ componentactivity.execution_start_date }}</p>
    <p>Execution end date: {{ componentactivity.execution_end_date }}</p>
    <p>Status: {{ componentactivity.get_status_display }}</p>
    <p>Component version: {{ componentactivity.component_version }}</p>
    <p>Jira tickets:
        {% for jira_ticket in componentactivity.jira_tickets.all %}
            <a href="{{ jira_ticket.url }}">{{ jira_ticket.name }}</a><br>
        {% endfor %}
    </p>
    <p>Results:
        {% for result in componentactivity.results.all %}
            <a href="{{ result.url }}">{{ result.name }}</a><br>
        {% endfor %}
    </p>
    <p>Documents:
        {% for document in componentactivity.documents.all %}
            <a href="{{ document.url }}">{{ document.name }}</a><br>
        {% endfor %}
    </p>
    <p>Campaigns:
        {% for campaign in componentactivity.campaigns.all %}
            <a href="{% url 'campaign_detail' campaign.pk %}">{{ campaign.name }}</a><br>
        {% endfor %}
    </p>

{% endblock %}