{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="mb-0">{{ component.name }}</h1>
      <div>
        <a href="{% url 'component_update' component.pk %}" class="btn btn-sm btn-outline-primary me-1">Edit</a>
        <a href="{% url 'component_delete' component.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </div>
    <table class="table table-bordered w-auto mt-4">
      <tbody>
        <tr>
          <th scope="row">Software</th>
          <td>
            <a href="{{ component.software.get_absolute_url }}">{{ component.software.name }}</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Git Repo URL</th>
          <td>
            <a href="{{ component.git_repo_url }}">{{ component.git_repo_url }}</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Engineering Contact</th>
          <td>{{ component.engineering_contact }}</td>
        </tr>
        <tr>
          <th scope="row">Business Contact</th>
          <td>{{ component.business_contact }}</td>
        </tr>
        <tr>
          <th scope="row">PSRD Contact</th>
          <td>{{ component.psrd_contact }}</td>
        </tr>
        <tr>
          <th scope="row">Jira Ticket</th>
          <td>
            <a href="{{ component.jira_ticket_url }}">{{ component.jira_ticket_url }}</a>
          </td>
        </tr>
        <tr>
          <th scope="row">Dev Preview Date</th>
          <td>{{ component.dev_preview_date }}</td>
        </tr>
        <tr>
          <th scope="row">Tech Preview Date</th>
          <td>{{ component.tech_preview_date }}</td>
        </tr>
        <tr>
          <th scope="row">General Availability Date</th>
          <td>{{ component.general_availability_date }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ component.description }}</td>
        </tr>
      </tbody>
    </table>
    
    <h2>Features</h2>
    {% if component.component_features.all %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Jira Ticket</th>
          <th>Campaigns</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for cf in component.component_features.all %}
        <tr>
          <td>{{ cf.feature.name }}</td>
          <td>{{ cf.description }}</td>
          <td>{{ cf.get_priority_display }}</td>
          <td>{{ cf.get_status_display }}</td>
          <td><a href="{{ cf.jira_ticket_url }}">{{ cf.jira_ticket_url }}</a></td>
          <td>
            {% for campaign in cf.campaigns.all %}
              <a href="{% url 'campaign_detail' campaign.pk %}">{{ campaign.name }}</a><br>
            {% endfor %}
          </td>
          <td>
            <form method="post" action="{% url 'componentfeature_delete' cf.pk %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no features.</p>
    {% endif %}
    <p>
      <a href="{% url 'component_update' component.pk %}" class="btn btn-primary">Add or modify features</a>
    </p>    

    <h2>Activities</h2>
    {% if component.activities.all %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Estimated Completion Date</th>
          <th>Execution Start Date</th>
          <th>Execution End Date</th>
          <th>Jira Tickets</th>
          <th>Results</th>
          <th>Documents</th>
          <th>Campaigns</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for a in component.activities.all %}
        <tr>
          <td>{{ a.name }}</td>
          <td>{{ a.description }}</td>
          <td>{{ a.get_status_display }}</td>
          <td>{{ a.estimated_completion_date }}</td>
          <td>{{ a.execution_start_date }}</td>
          <td>{{ a.execution_end_date }}</td>
          <td>
            {% for jira_ticket in a.jira_tickets.all %}
              <a href="{{ jira_ticket.url }}">{{ jira_ticket.name }}</a><br>
            {% endfor %}
          </td>
          <td>
            {% for result in a.results.all %}
              <a href="{{ result.url }}">{{ result.name }}</a><br>
            {% endfor %}
          </td>
          <td>
            {% for document in a.documents.all %}
              <a href="{{ document.url }}">{{ document.name }}</a><br>
            {% endfor %}
          </td>
          <td>
            {% for campaign in a.campaigns.all %}
              <a href="{% url 'campaign_detail' campaign.pk %}">{{ campaign.name }}</a><br>
            {% endfor %}
          </td>
          <td><a href="{% url 'activity_update' a.pk %}">Edit</a> <a href="{% url 'activity_delete' a.pk %}">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>    
    {% else %}
      <p>There are no activities.</p>
    {% endif %}
    <p>
      <a href="{% url 'activity_add_to_component' component.pk %}" class="btn btn-primary">Add activity</a>
    </p>    
{% endblock %}
