{% extends "base.html" %}

{% block content %}
    <h1>{{ component.name }}</h1>
    <p>This is a component of <a href="{{ component.software.get_absolute_url }}">{{ component.software.name }}</a></p>
    <p><a href="{{ component.git_repo_url }}">{{ component.git_repo_url }}</a></p>
    <p>Engineering contact: {{ component.engineering_contact }}</p>
    <p>Business contact: {{ component.business_contact }}</p>
    <p>Jira ticket: <a href="{{ component.jira_ticket_url }}">{{ component.jira_ticket_url }}</a></p>
    <p>Dev preview date: {{ component.dev_preview_date }}</p>
    <p>Tech preview date: {{ component.tech_preview_date }}</p>
    <p>General availability date: {{ component.general_availability_date }}</p>
    <p><a href="{% url 'component_update' component.pk %}">Edit</a></p>
    <p><a href="{% url 'component_delete' component.pk %}">Delete</a></p>
    <p>{{ component.description }}</p>
    <p><a href="{% url 'activity_add_to_component' component.pk %}">Add activity</a></p>
    <h2>Features</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Jira Ticket</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for cf in component.component_features.all %}
        <tr>
          <td>{{ cf.feature.name }}</td>
          <td>{{ cf.description }}</td>
          <td>{{ cf.get_priority_display }}</td>
          <td>{{ cf.get_status_display }}</td>
          <td><a href="{{ cf.jira_ticket_url }}">{{ cf.jira_ticket_url }}</a></td>
          <td>
            <form method="post" action="{% url 'componentfeature_delete' cf.pk %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>Activities</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Execution Start Date</th>
          <th>Execution End Date</th>
          <th>Jira Tickets</th>
          <th>Results</th>
          <th>Documents</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for a in component.activities.all %}
        <tr>
          <td>{{ a.name }}</td>
          <td>{{ a.description }}</td>
          <td>{{ a.get_priority_display }}</td>
          <td>{{ a.get_status_display }}</td>
          <td>{{ a.execution_start_date }}</td>
          <td>{{ a.execution_end_date }}</td>
          <td>
            {% for jira_ticket in a.jira_tickets.all %}
              <a href="{{ jira_ticket.url }}">{{ jira_ticket.name }}</a><br>
            {% endfor %}
          </td>
          <td>
            {% for result in a.results.all %}
              <a href="{{ result.url }}">{{ result.name }}</a><br>
            {% endfor %}
          </td>
          <td>
            {% for document in a.documents.all %}
              <a href="{{ document.url }}">{{ document.name }}</a><br>
            {% endfor %}
          </td>
          <td><a href="{% url 'activity_update' a.pk %}">Edit</a> <a href="{% url 'activity_delete' a.pk %}">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>    
{% endblock %}
