{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="mb-0">{{ featurecategory.name }}</h1>
      <div>
        <a href="{% url 'featurecategory_update' featurecategory.pk %}" class="btn btn-sm btn-outline-primary me-1">Edit</a>
        <a href="{% url 'featurecategory_delete' featurecategory.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </div>
    <p>{{ featurecategory.description }}</p>
{% endblock %}
