{% extends "base.html" %}

{% block content %}
    <h1>{{ software.name }}</h1>
    <p><a href="{% url 'software_update' software.pk %}">Edit</a>
    <p><a href="{% url 'software_delete' software.pk %}">Delete</a></p>
    <p>{{ software.description }}</p>
    <p><a href="{% url 'component_add' %}">Add component</a></p>
    <h2>Components</h2>
    {% if software.components.all %}
        <ul>
            {% for component in software.components.all %}
                <li><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no components.</p>
    {% endif %}
{% endblock %}
